@font-face {
  font-display: swap;
  font-family: 'e-Ukraine';
  font-style: normal;
  font-weight: 700;
  src: url('../font/e-Ukraine-Bold.otf') format('opentype')
}
@font-face {
  font-display: swap;
  font-family: 'e-Ukraine';
  font-style: normal;
  font-weight: 400;
  src: url('../font/e-Ukraine-Regular.otf') format('opentype')
}
@font-face {
  font-display: swap;
  font-family: 'e-Ukraine';
  font-style: normal;
  font-weight: 500;
  src: url('../font/e-Ukraine-Medium.otf') format('opentype')
}
@font-face {
  font-display: swap;
  font-family: 'e-Ukraine';
  font-style: normal;
  font-weight: 300;
  src: url('../font/e-Ukraine-Light.otf') format('opentype')
}
@font-face {
  font-display: swap;
  font-family: 'e-Ukraine';
  font-style: normal;
  font-weight: 700;
  src: url('../font/e-UkraineHead-Bold.otf') format('opentype')
}

@font-face {
  font-display: swap;
  font-family: 'e-Ukraine';
  font-style: normal;
  font-weight: 400;
  src: url('../font/e-UkraineHead-Regular.otf') format('opentype')
}

@font-face {
  font-display: swap;
  font-family: 'e-Ukraine';
  font-style: normal;
  font-weight: 500;
  src: url('../font/e-UkraineHead-Medium.otf') format('opentype')
}

@font-face {
  font-display: swap;
  font-family: 'e-Ukraine';
  font-style: normal;
  font-weight: 300;
  src: url('../font/e-UkraineHead-Light.otf') format('opentype')
}


